@import '_vars.scss';
@use "sass:map";

.grid-container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 0.6fr 1.05fr 1.05fr 1.05fr 1.05fr 1.05fr 1.05fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "myheader random random search search topPicks topPicks"
    "myheader random random search search topPicks topPicks"
    "myheader random random search search topPicks topPicks";
    background-color: black; //fallback color
    .myheader { 
        grid-area: myheader; 
        background-color: #000;
        height: 100vh;
        width: 100%;
        // min-width: 0;
        display: grid;
        place-items: center;
        #homeTitle{
            @include titleFont;
            // letter-spacing: 15px;
            font-size: 4em;
            margin: 0;
            padding: 0;
            transform: rotate(90deg);
        }
        .homeLink{
            @include linkGrid;
        }
    }

    .random { 
        grid-area: random; 
        height: 100vh;
        width: 100%;

        overflow: hidden;
        transform: scale(1);
        transition: 0.3s ease-in-out;
        
        @include linkGridImage("../assets/spiderman.jpg", cover);
        box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, pink), 0.8);
        &:hover{
            box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, pink), 0.95);
            overflow:hidden;
            transform: scale(1.1);
        }
        .homeLink{
            @include linkGridImage("../assets/spiderman.jpg", 30%);
            @include linkGrid;
        }
    }

    .search { 
        grid-area: search;
        height: 100vh;
        width: 100%;

        overflow: hidden;
        transform: scale(1);
        transition: 0.3s ease-in-out;

        @include linkGridImage("../assets/puzzle.jpg", cover);
        box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, blue), 0.8);
        &:hover{
            box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, blue), 0.95);
            overflow:hidden;
            transform: scale(1.1);
        }
        .homeLink{
            @include linkGridImage("../assets/puzzle.jpg", 30%);
            @include linkGrid;
        }
    }

    .topPicks { 
        grid-area: topPicks; 
        height: 100vh;
        width: 100%;

        overflow: hidden;
        transform: scale(1);
        transition: 0.3s ease-in-out;

        @include linkGridImage("../assets/covidmask.jpg", cover);
        box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, purple), 0.8);
        &:hover{
            box-shadow: inset 0 0 0 100vw rgba(map-get($themeColors, purple), 0.95);
            overflow:hidden;
            transform: scale(1.1);
        }
        .homeLink{
            @include linkGridImage("../assets/covidmask.jpg", 30%);
            @include linkGrid;
        }
    }
}

// footer{
//     background-color: #000;
//     width: 100%;
//     padding: 3em;
//     text-align: center;
// }