@import '_vars.scss'; 
@use "sass:map";


#random {
    background-color: map-get($themeColors, pink);

    .pageMargin {
        @include pageMargin;
    }

    h1 {
        @include h1Font(4em);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainBodySizing { 
        height: 100vh;
    }

    #stuff {
        strong {
            @include apiDataFont;
        }
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        padding: 1% 5%;
        background-color: map-get($themeColors, darkPink);
      }
    
      #rand_btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
}