//The  stlyles for the search page
body {
  header {
    text-align: center;
  }

  //styles for the main
  #main {
    height: 100vh;
  }

  background-color: map-get($themeColors, darkblue);

  #uInput {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 45%;
    margin: 100px;
  }

  #display {
    height: 30vh;
  }
}
