$themeColors: (
    pink: #921B91,
    blue: #232FB5,
    purple: #5A26A5,

    darkPink: #731A73,
    darkBlue: #2A349F,
    darkPurple: #552C91,
);

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@mixin titleFont($size){
    font-family: 'Aclonica', sans-serif;
    letter-spacing: 2px;
    font-size: $size;
}

@font-face{
    font-family: Consolas;
    src: url('../assets/Consola.TTF');
}

@mixin apiDataFont{
    font-family: Consolas;
    font-weight: 700;
    font-size: 14px;
}

@font-face{
    font-family: Britanic;
    src: url('../assets/BRITANIC.TTF');
}

@mixin h1Font($size){

    letter-spacing: 2px;
    font-size: $size;
    font-family: Britanic;
}

@mixin linkGrid{
    display: inline-table;
    height: 100%;    
    width: 100%;
    border:0; 
    text-decoration:none; 
    outline:none;
}

@mixin linkGridImage($image, $size){
    background-color: black; //fallback color
    background: url($image) center center no-repeat;
    background-size: $size;
}

@mixin pageMargin{
    padding-top: 12em;
}